@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.perspective {
    perspective: 1000px;
}

.transform-style-preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.active {
    color: red;
    /* Example: change text color for active link */
    font-weight: bold;
    /* Example: make text bold for active link */ }